.invoice-item-cont {
    width:100%;
    background-color:rgb(37, 41, 69);
    border: solid 1px rgb(37, 41, 69);
    color: white;
    border-radius: 10px;
    overflow-y: auto;
}

.invoice-item-cont:hover {
    background-color: rgb(12, 14, 22);
    border: solid 1px rgb(20, 22, 37);
}

.invoice-item-cont {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 20px 30px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.invoice-item-cont > h1 {
    margin: 0;
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.invoice-item-cont > h2 {
    width: 15%;
}

.invoice-item-cont > h3 {
    width: 20%;
}

.invoice-item-cont > div {
    width: 15%;
}

.status-cont {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    border: solid rgb(37, 41, 69) 1px;
    background-color: rgb(45, 50, 84);
    padding: 8px 0;
    border-radius: 7px;;
}