.invoice-form-section {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-name: fastSlide;
    animation-timing-function: linear;
    transform-origin: bottom;
}
@keyframes fastSlide {
    0%   { transform: translate(100%); }
    20%  { transform: translate(80%); }
    40%  { transform: translate(60%); }
    60%  { transform: translate(40%); }
    80%  { transform: translate(20%); }
    100% { transform: translate(0%); }
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 6px;
    color: white;
    background-color: rgb(37, 41, 69);
    border-radius: 5px;
    border: solid 1px rgb(37, 41, 69);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    box-shadow: 0 0 0 30px rgb(37, 41, 69) inset !important;
    -webkit-box-shadow: 0 0 0 30px rgb(37, 41, 69) inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 2147483647s; /* Make chromes autofill take 68 years to take effect, removes weird gray border colors */
}

.blue-text {
    color: rgb(124, 93, 250);
}

.invoice-form-section {
    position: fixed;
    margin-left: 6%;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    z-index: 2;
}

.invoice-form-cont {
    background-color:rgb(30, 33, 57);
    height: 90vh;
    width: 30%;
    padding: 3%;
    overflow-y: auto;
}

.bill-from, .bill-to, .column-flex, .payment-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
}

.payment-details {
    margin-top: 15px;
}

.two-item-flex, .three-input-flex, .button-cont {
    display: flex;
    justify-content: space-between;
}

.two-item-flex > .column-flex {
    flex: 1 1 0;
}

.two-item-flex > .left {
    margin-right: 2%;
}

.two-item-flex > .right {
    margin-left: 2%;
}

.five-item-flex {
    display: flex;
    flex-direction: column;
}

.column-flex-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.itemName {
    width: 40%;
}

.quantity, .trashcan {
    width: 6%;
}

.price, .total {
    width: 13%;
}

.title > span {
    align-self: flex-start;
}

.title > * {
    padding: 8px;
}

.column-flex-item > .total, .trashcan {
    align-self: auto;
    padding: 6px 0;
}

.save-btn-cont {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.trashcan > svg:hover {
    cursor: pointer;
}